*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

.main{
    margin-top: 100px;
    height: 50vh;
    width: 40vw;
    
}

.box{
    border: 2px solid ;
    display: flex;
    justify-content: center;
    height: 100%;
    
}



section{
    background-color: rgb(174, 184, 159);
    width: 100%;
    padding: 10px;
    overflow: auto;
}

header{
    /* border: 1px solid; */
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 10px;
}

header input, header button{
    font-size: 1.8em;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

header input{
    width: 70%;
}

header button{
    background-color: rgb(255, 88, 121);
    color: #fff;
    width: 20%;
}


.content-box{
    padding: 5px 15px;
    border: 1px solid;
    width: 100%;
    display: grid;
    grid-template-columns:10% 70% 10% 10%;
    font-size: 1.2em;
    margin-bottom: 30px;
    align-items: center;
}

span{
    width: 95%;
    padding: 0 10px;
    border: none;
    overflow: hidden;
}

#checkbox{
    height: 20px;
    width: 20px;
}

.warning{
    border: 1px solid;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px 0;
    display: none;
    font-weight: 900;
}


/* Responsive */
@media screen and (max-width: 850px) {

    .main{
        height: 60vh;
        width: 60vw;
    }


    .content-box{
        display: grid;
        grid-template-columns:10% 60% 15% 15%;
        padding: 5px 0 5px 5px;
    }
  }

  @media screen and (max-width: 500px) {

    .main{
        height: 60vh;
        width: 80%;
    }
    

    header{
        font-size: .4rem;
    }

    .content-box{
        display: grid;
        grid-template-columns:10% 60% 15% 15%;
    }
  }
  